<% provide :header, @user.nil?? "All Pools" : @user.name+"'s pools" %>

<% if can_modify? @user %>
  <%= form_for Pool.new, url: pools_path(current_user), html: { class: "remote" } do |f| %>
    <div class="form-group field new">
      <%= f.text_field :title, placeholder: "Title for New Pool" %>
      <%= f.submit "Create Pool", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>

<%= cell(:pool).(:index) %>
