<%= cell(:submission).(:new) %>

<div class = "row gallery" id = "pools">
  <% enum_for @pool.submissions, word: "submissions", reverse: true do |submission| %>
    <%= cell(:submission, submission).(:item) %>
  <% end %>
  <% 11.times do %>
    <div class = "thumbnail-block spacer"></div>
  <% end %>
</div>