
	<div id="user">
	   <div class="avatar"></div>
	   <div class="userinfo logged-out">
	   		<p>You are not logged in.</p>
	   		<ul class = "right hide-on-med-and-down js">
	  			<li>
				    <a class = "dropdown-button" data-activates = "menu">
				      <div>
				        Log In / Register
				        <i class = "material-icons right">arrow_drop_down</i>
				      </div>
				    </a>
				</li>
			</ul>
	    </div>
	</div>
	<a data-activates="mobile-menu" class="button-collapse">
	  <i class="material-icons">menu</i>
	</a>
