<% unless anon? %>
  <div class = "row">
    <%= form_for Message.new, url: comments_path(@submission.id) do |f| %>
      <%= f.text_area :content, value: ("@#{@recipient.name}:\n" if @recipient) %>
      <%= f.hidden_field :recipient_id, value: recipient_id if defined? recipient_id %>
      <%= f.submit defined?(recipient_id)? "Reply" : "Post as #{current_user.name}" %>
    <% end %>
  </div>
<% end %>