<span>
  <%= link_to "About", static_path(:about) %>
  <div class = "vdiv"></div>
  <%= link_to "All Pools", pools_path %>
  <div class = "vdiv"></div>
  <%= link_to "All Submissions", submissions_path %>
</span>