<div class = "hidable <%= @open? "max" : "min" %>" <%= "associated-field = '#{@associated}'" if @associated %>>
  <span class = "title"><%= @title %></span>
  <div class = "content"><%= @content %></div>
</div>