<div class = "row hidable <%= @open? "max" : "min" %>" <%= "associated-field = '#{@associated}'" if @associated %>>
  <div class = "title"><%= @title %></div>
  <div class = "content"><%= @content %></div>
</div>