<li>
  <fieldset class = "question" name = "<%= @question %>">
    <legend align = "center">. <%= @question %></legend>
    <div class = "content"><%= render "show/#{@name}" %></div>
  </fieldset>
</li>