<li>
  <fieldset class = "question" name = "<%= @question %>">
    <legend align = "center">. <%= @question %></legend>
    <% unless @answer.is_a? Array %>
      <div class = "answer"><%= @answer %></div>
    <% else %>
      <table class = "gallery">
        <% @answer.each do |image| %>
          <td><%= cell(:image, Image.find(/\d+/.match(image)[0])).(:bordered) %></td>
        <% end %>
      </table>
    <% end %>
  </fieldset>
</li>