<% unless anon? %>
  <% to ||= current_user.name %>
  <% from ||= current_user.name %>
  <div class = "row">
    <%= form_for Comment.new, url: comments_path(from) do |f| %>
      <%= f.text_area :content %>
      <%= f.submit "Post as #{current_user.name}" %>
    <% end %>
  </div>
<% end %>