<% unless anon? %>
  <div class = "row">
    <%= form_for Comment.new, url: @submission.nil?? messages_path(to) : comments_path(@submission.id) do |f| %>
      <%= f.text_area :content %>
      <%= f.submit "Post as #{current_user.name}" %>
    <% end %>
  </div>
<% end %>