<%= form_for :session, url: log_in_path do |f| %>
  <li><%= f.text_field :name, placeholder: "Username" %></li>
  <li><%= f.password_field :password, placeholder: "Password" %></li>
  <li><%= f.submit "Log in" %></li>
<% end %>