<table>
  <thead>
    <tr>
      <th>User Name</th>
      <th>User Email</th>
      <th colspan="1"></th>
    </tr>
  </thead>
    <% @users.each do |user| %>
      <tr>
        
        <td><%= link_to user.name, user_path(user.name) %></td>
        <td><%= user.email %></td>
        <% if current_user.is_admin? %>
		<td><%= link_to 'Destroy', user_path(user.name), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% else %>
		<td></td>
	<% end %>
      </tr>
    <% end %>
  <tbody>
  </tbody>
</table>
