<div class = "row">
  <%= form_for :search, url: search_user_path, html: { class: "input-field col s12 m10" } do |f| %>
    <div class = "row">
      <i class = "material-icons prefix">search</i>
      <%= f.text_field :search, placeholder: 'Artists who do...', value: query %>
      <%= f.submit "Search", class: "btn" %>
    </div>
  <% end %>
</div>