<div class = "row">
  <div class = "input-field col s12 m10">
    <%= form_for :search, url: search_path do |f| %>
      <i class = "material-icons prefix">search</i>
      <%= f.text_field :search, placeholder: "Artists who do...", value: query %>
      <%= f.submit "Search" %>
    <% end %>
  </div>
</div>
