<div class="wide-100">
  <%= form_for(:search, url: search_user_path) do |f| %>
    <%= f.text_field :search, class: 'form-control wide-40 fl', placeholder: 'Artists who do...', value: query %>
    <%= f.submit "Search", class: "btn btn-primary fl" %>
  <% end %>
</div>