<% provide(:title, 'Edit Profile') %>
<h1>Edit Profile</h1>

<div class="row" id="attach-point">
  <div class="col-md-6 col-md-offset-3" id="detach-point">
    <%= form_for @user, method: :patch, url: user_path, multipart: true, html: {id: "detach"} do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Save Changes", class: "btn btn-primary", id: "save-button" %>
    <% end %>
  </div>
</div>
