<% provide(:header, 'Edit Profile') %>

<div class="row" id="detach-point">
  <div class="col-md-6 col-md-offset-3">
  	<div id="form">
	    <%= form_for @user, method: :patch, url: user_path, multipart: true, html: {class: "full-width"} do |f| %>
	      <%= render 'fields', f: f %>
	      <%= f.submit "Save Changes", class: "btn btn-primary", id: "save-button" %>
	    <% end %>
    </div>
  </div>
</div>


<div id="attach-point" ></div>
