<% provide(:header, @header) %>

<%= render "search", query: @query %>

<% unless @searching %>
  <hr />
  <div class = "row hidable max">
    <div class = "hidable-title">Recent Submissions</div>
    <div class = "row pool-index-field">
      <div class = "col">
        <% enum_for recent_submissions do |submission| %>
          <%= link_to submission_path(submission) do %>
            <%= image_for :bordered, submission.file_id %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render "results", users: @users %>