<% provide(:header, 'Sign up') %>

<div class="row" id="detach-point">
  <div class="col-md-6 col-md-offset-3">
  	<div id="form">
	    <%= form_for @user, multipart: true, html: {class: "full-width"} do |f| %>
	      <%= render 'fields', f: f %>
	      <div id="button">
	      	<%= f.submit "Create my account", class: "btn btn-primary spaced", id: "save-button" %>
	      </div>
	    <% end %>
	</div>
  </div>
</div>

<div id="attach-point" />
