<h5>Email: <%= @order.email.blank?? @order.patron.email : @order.email %></h5>
<h5>Placed: <%= @order.created_at %></h5>
<ol class = "order">
	  	<%= @order.content.to_json %>

  <% @order.content.each_with_index do |object, index| %>
    <%= render "orders/show/template", object: object, index: index %>
  <% end %>
</ol>