<div class = "row gallery" id = "submissions">
  <% enum_for @submissions, word: "submissions", reverse: true do |submission| %>
    <%= cell(:submission, submission).(:summary) %>
  <% end %>
  <% 11.times do %>
    <div class = "thumbnail-block spacer"></div>
  <% end %>
</div>