<% provide :header, @submission.title %>

<p id="notice"><%= notice %></p>

<%= image_tag image_path(@submission.upload.id) %>

<div class = "form-centered">
  <% if @submission.pool.user_id == current_user.id %>
    <%= link_to 'Edit', edit_submission_path(@submission) %> |
  <% end %>
  <%= link_to 'Pool', pool_path(@submission.pool.id) %>
</div>