<%= cell(:pool).(:new) unless anon? %>

<hr />
<%= page_nav :top %>

<table id = "pools">
  <% unless @pools.length < 1 %>
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% enum_for @pools do |pool| %>
      <%= cell(:pool, pool).(:summary) %>
    <% end %>
  </tbody>
</table>

<hr/>
<%= page_nav :bottom %>