<table id = "pools">
  <% if @pools.any? %>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th></th>
        <th>User</th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% enum_for @pools, "pools" do |pool| %>
      <tr>
        <td class = "danger"><%= "Main" if pool == @pools.first %></td>
        <td><%= link_to title_for(pool: pool), pool %></td>
        <% if can_modify? pool.user %>
          <td><%= link_to "Destroy", pool, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <% end %>
        <td><%= link_to pool.user.name, pool.user %></td>
      </tr>
    <% end %>
  </tbody>
</table>