<%= form_for Pool.new, url: pools_path(current_user), html: { class: " button-submit" } do |f| %>
    <%= f.submit "Create Pool", class: "btn btn-primary float", id: "add" %>
<% end %>
<div class = "button-area float"></div>