<% if current_page.last? %>
  <li class="disabled">
    <%= content_tag :a do %>
      <span><i class="material-icons">chevron_right</i></span>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to url, :rel => 'next', remote: false do %>
      <span><i class="material-icons">chevron_right</i></span>
    <% end %>
  </li>
<% end %>
