<% if current_page.first? %>
  <li class="disabled">
    <%= content_tag :a do %>
      <span><i class="material-icons">chevron_left</i></span>
    <% end %>
  </li>
<% else %>
  <li>
    <%= link_to url, :rel => 'prev', :remote => remote do %>
      <span><i class="material-icons">chevron_left</i></span>
    <% end %>
  </li>
<% end %>
