<% @options.each do |option| %>
  <div class = "spaced">
    <%= radio_button_tag "content[#{@index}-#{@question}]", option %>
    <%= label "content[#{@index}-#{@question}]", option, option %>
  </div>
<% end %>