<li>
  <fieldset class = "question" name = "<%= @name.dasherize %>">
    <legend><%= readable (@question || @name) %></legend>
    <div class = "answer <%= @name.dasherize %>"><%= render @name %></div>
  </fieldset>
</li>