<%= text_area_tag "question", (@object[0]["value"] rescue nil), placeholder: "Question" %>
<div class = "fake-answer <%= @name.to_s.underscore.dasherize %>">
  <ol class = "js addable-field orderable">
    <% (@object[1..-1] rescue [{"value" => nil}]).each do |object| %>
      <li><%= text_field_tag "question[0]", object["value"], placeholder: "Choice" %></li>
    <% end %>
  </ol>
  <div class ="addable-area"></div>
</div>