<%= text_area_tag "question", @questions[0]["value"], placeholder: "Question" %>
<div class = "fake-answer <%= @name.to_s.underscore.dasherize %>">
  <p class = "ic padded">Add, remove, or reorder choices:</p>
  <ol class = "js addable-field orderable">
    <% @options.each do |option| %>
      <li class = "padded option">
        <i class = "handle material-icons small"><%= CONFIG[:other_icons][:handle] %></i>
        <%= text_field_tag "option", option["value"], placeholder: "Choice" %>
      </li>
    <% end %>
  </ol>
  <div class ="addable-area"></div>
</div>