<% if can_modify? @user %>
  <%= cell(:order_form).(:new) %>
<% end %>

<table>
  <thead id = "order-forms-head">
    <%= cell(:order_form).(:head) %>
  </thead>

  <tbody id = "order-forms">
    <%= cell(:order_form).(:enum) %>
  </tbody>
</table>