<table id = "order_forms">
  <% unless @user.order_forms.empty? %>
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
  <% end %>

  <tbody>
    <% enum_for @user.order_forms, word: "order forms" do |order_form| %>
      <%= cell(:order_form, order_form).(:show) %>
    <% end %>
  </tbody>
</table>