<%= form_for OrderForm.new, url: order_forms_path, html: { class: "remote button-submit" } do |f| %>
  <%= f.submit "Create Order Form", id: "add", class: "medium" %>
<% end %>
<div class = "button-area float"></div>