<%= form_for :content, url: order_forms_path(@user), html: { class: "button-submit" } do |f| %>
  <%= f.submit "Create Order Form", id: "add" %>
<% end %>
<div class = "button-area float-right"></div>