<%= text_area_tag "question", @question, placeholder: "Request" %>
<div class = "fake-answer <%= @name.to_s.underscore.dasherize %>">
  <p class = "ic padded">Response area:</p>
  <ul class = "disc">
    <li class = "option">http://example.com/character_sheet.png</li>
    <li class = "option">http://example.com/reference.png</li>
    <li class = "option">http://example.com/past_commission.png</li>
  </ul>
</div>