<%= text_area_tag "question", (@question[0]["value"] rescue nil), placeholder: "Request" %>
<div class = "fake-answer <%= @name.to_s.underscore.dasherize %>">
  <p class = "ic padded">Response area:</p>
  <table class = "gallery hc">
    <td><div class = "bordered success"></div></td>
    <td><div class = "bordered success"></div></td>
    <td><div class = "bordered success"></div></td>
  </table>
</div>