<div class = "question" name = "<%= @name %>">
  <div class = "handle"></div>
  <div class = "content"><%= @content %></div>
  <input type = "checkbox" name = "required"></input>
  <i class = "material-icons small">clear</i>
</div>