<%= text_area_tag "question", question, placeholder: "Request" %>
<div class = "fake-answer request-reference-image-uploads">
  <p class = "ic padded">Response area:</p>
  <table class = "gallery hc">
    <td><div class = "bordered success"></div></td>
    <td><div class = "bordered success"></div></td>
    <td><div class = "bordered success"></div></td>
  </table>
</div>