<li>
  <i class = "handle material-icons small">drag_handle</i>
  <i class = "remove material-icons small">clear</i>
  <fieldset class = "question" name = "<%= name %>">
    <legend align = "center">. <%= readable name %></legend>
    <div class = "content"><%= render name, question: question, options: options %></div>
  </fieldset>
</li>