<% options.each_with_index do |option, indexa| %>
  <div class = "padded">
    <%= check_box "content[#{index}-#{name}][answer]", indexa, {}, option, "" %>
    <%= label "content[#{index}-#{name}][answer]", indexa, option %>
  </div>
<% end %>