//etc

.new
  border: 4px dotted #9DD0B4
  padding: 5px !important
  border-radius: 15px

.hidable + .row
  margin-top: 10px !important

.row
  margin-bottom: 0 !important

.row:not(.hidable):not(.destroyable):not(.button-area)
  margin: 0 !important

.row.list
  .col
    padding: 15px 0 !important
  .col:nth-child(odd)
    float: left
  .col:nth-child(even)
    float: right

.row.block
  padding: 15px 10px !important

.col
  padding: 0 !important
  margin: 0 !important

.col .row .col
  margin: 0 !important

.header
  width: 100%
  margin-bottom: 10px
  margin-top: 30px
  a
    color: inherit

.console
  max-height: 90px !important
  bottom: 100px !important
  *
    display: inline !important

.search
  input, .hidable
    width: calc(100% - 36px)
  input[type = "submit"], .hidable
    margin-top: 2% !important
    margin-left: 36px !important

.search > i
  float: left
  font-size: 36px

.input-field
  padding-bottom: 10px
  margin: 0
  label
    font-size: 17px
    margin-top: -6px
  label + select
    width: 65%
    float: right

.checkbox-field
  padding-right: 45px

.addable-field
  float: left
  width: calc(100% - 75px)
  select, input
    width: 100%
    margin-top: -4px
    margin-bottom: 6px

.addable-area
  float: right
  width: 75px
  position: relative
  i
    +block-centered
    width: 75px
    position: absolute
    bottom: 0
    left: 0

.button-with-icon
  padding: 0
  text-shadow: 0px 2px 1px darkslategrey !important
  option
    text-shadow: 0px 2px 1px darkslategrey !important
  i.right
    margin-left: 10px
  span:before
    width: 30px
    height: 30px
    position: absolute
    top: 0
    left: 0
    background-color: red

.button-with-icon:hover
  text-decoration: none

.expandable
  img
    max-height: 400px
    z-index: 0

.materialboxed.initialized.active
  max-height: none !important
  max-width: none !important

.limit-height
  height: 450px

.btn:hover
  font-size: 110%

.material-icons
  vertical-align: middle
  cursor: default

.new
  margin-top: 10px
  input[type = "text"],
  input[type = "email"],
  input[type = "password"]
    padding-left: 5px
    width: calc(100% - 5px)

.js
  display: none

.page-submit
  position: fixed
  bottom: 0
  left: 0
  width: auto
  z-index: 21

.file-field
  display: table
  .btn
    float: none

.edit-mode
  text-align: left

//images

.gallery
  +block-centered

.thumbnail-block
  text-align: center
  width: 200px
  margin: 2% 5px 0 5px
  display: inline-block
  a:hover
    font-size: 100%

.thumbnail-block.hidden
  opacity: 0.7

.thumbnail
  +block-centered
  width: $thumb-size
  height: $thumb-size
  border: 4px dashed black
  border-radius: 4px
  box-sizing: content-box
  overflow: hidden
  position: relative
  img
    max-height: none
    max-width: none
    width: auto !important
    left: -25%
    +full-center

.thumb-preview
  .thumbnail
    img
      max-height: 100%
      max-width: 100%

//input

.submit
  @extend .btn
  text-shadow: 0px 2px 1px darkslategrey !important
  -moz-appearance: none !important
  -webkit-appearance: none !important
  color: white !important
  transition: .2s ease-out !important
  font-size: 1rem !important
  display: inline-block
  line-height: 2rem !important
  height: auto !important
  padding: 0 2rem !important

.submit:hover
  font-size: 1.2rem !important
  line-height: 2.4rem !important
  color: white !important
  text-decoration: none !important

input[type = "submit"]
  @extend .submit

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
  +placeholder
input:-moz-placeholder, textarea:-moz-placeholder
  +placeholder
input::-moz-placeholder, textarea::-moz-placeholder
  +placeholder
input:-ms-input-placeholder, textarea:-ms-input-placeholder
  +placeholder

input:focus:hover::-webkit-input-placeholder, textarea:focus:hover::-webkit-input-placeholder
  +placeholder-focus-hover
input:focus:hover:-moz-placeholder, textarea:focus:hover:-moz-placeholder
  +placeholder-focus-hover
input:focus:hover::-moz-placeholder, textarea:focus:hover::-moz-placeholder
  +placeholder-focus-hover
input:focus:hover:-ms-input-placeholder, textarea:focus:hover:-ms-input-placeholder
  +placeholder-focus-hover

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
  +placeholder-focus
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder
  +placeholder-focus
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder
  +placeholder-focus
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
  +placeholder-focus

.button-area
  +block-centered
  i
    transition: 0.1s ease-out !important
  i + label
    margin-top: 5%
  div
    cursor: pointer
    i
      cursor: pointer
    label
      cursor: pointer

#cards
  min-height: 15px

.button-area.float
  position: fixed
  bottom: 5px
  left: 5px
  background-color: $background-color

//messages
#flash
  margin-bottom: 25px
  font-size: 125%
  padding-left: 10px
  padding-right: 10px
  border-radius: 10px
  border: 2px dashed black
  box-shadow: -1px 2px 15px rgba(0, 0, 0, 0.5)
  background-color: $flash-background-color
  width: 100%
  box-shadow: none
  .row
    height: 100%

.success
  color: $success-color !important
  border-color: $success-color !important
.danger
  color: $danger-color !important
  border-color: $danger-color !important

.errors
  background-color: $danger-color
  border-radius: 2px
  padding-top: 2px
  li
    line-height: 26px
    border-bottom: 1px solid black
    padding: 2px 0 2px 10px

//icons

i.medium-small
  font-size: 50px



a
  i
    cursor: pointer !important
i[class *= "comm-"]
  display: block
.comm-not_interested, .comm-closed
  color: lightslategrey
.comm-open, .comm-one_day_only
  color: mediumspringgreen
.comm-long_wait, .comm-make_a_pitch, .comm-friends_only
  color: gold