// import the CSS framework
@import "bootstrap-sprockets";
@import "bootstrap";

img{
  @extend .img-responsive;
  margin: 0 auto;
}
.navbar-brand{
  font-size: inherit;
}
.row{
  margin: 15px;
}
.column{
  @extend .col-md-6;
  @extend .text-center;
}
.form{
  @extend .col-md-6;
}
.form-centered{
  @extend .col-md-6;
  @extend .text-center;
}
.centered{
  @extend .text-center;
}
.submit{
  @extend .btn;
  @extend .btn-primary;
}
h1{
  border: 4px outset aquamarine;
  border-right-style: none;
  border-left-style: none;
}
.thumbnail{
  border: 5px dashed cornflowerblue;
  margin: 0;
}
.thumbnail-mini{
  max-width: 100px;
  border: 2px dashed cornflowerblue;
}
.thumbnail-adult{
  border-color: indianred;
}
// apply styles to HTML elements
// to make views framework-neutral
main{
  @extend .container;
  //background-color: #eee;
  width: 100%;
  margin-top: -30px;
  margin-bottom: 30px;
}
footer{
  border-top: 4px outset darkslategray;
}
section{
  @extend .row;
  margin-top: 20px;
}
table{
  @extend .table;
}
blockquote{
	border-left: 3px solid #bbb;
}
h1, h2, h3, h4, h5, h6{
  margin-top: 10px;
  margin-bottom: 15px;
}
.row{
  margin: 0 0 0 1%;
}
.media{
  padding-left: 0;
}
.media-left{
  padding-right: 0; 
}
.media-body{
  width: 100%;
}
input[type="file"]{
  display: inline;
}
header{
  img{
    position: relative;
    width: 100%;
  }
  .affix{
    @extend .navbar-fixed-top
  }
}