$separator-height: 50px
$thumb-size: 150px

$background-color-rgb: 247, 252, 242
$background-color: rgba(nth($background-color-rgb, 1), nth($background-color-rgb, 2), nth($background-color-rgb, 3), 1)
$background-color-transparent: rgba(nth($background-color-rgb, 1), nth($background-color-rgb, 2), nth($background-color-rgb, 3), 0)

$success-color: #9ccc65
$danger-color: indianred
$header-form-background-color: #cfd8dc
$form-background-color: transparent
$menu-button-background-color: #90a4ae
$placeholder-color: lightslategrey
$placeholder-text-shadow-color: snow
$nav-background-color: #9ccc65
$flash-background-color: snow