header
  img
    position: relative
    width: 100%
    z-index: 1
  a
    text-shadow: 0px 2px 0 $text-shadow-color
    z-index: 2
  a:hover
    cursor: pointer
    font-size: 1rem
  .side-nav
    max-width: 80%
  #menu:not(.wide)
    min-width: 300px
    max-height: 800px
  #mobile-menu:not(.wide)
    max-width: 60% !important
    input[type = "submit"]
      width: 100%
    input
      margin-top: 10px !important
    li
      text-align: center
      float: left
      width: 100%
    form
      margin-top: 20px
  #menu.wide
    width: 600px
    a
      text-shadow: none
    a:hover
      font-size: 1.2rem
    li
      text-align: right
  #mobile-menu.wide
    a
      text-shadow: none
      font-size: 150%
      color: $menu-text-color
      background-color: $menu-background-color
  .separator
    height: 50px
    //background: linear-gradient(to bottom, $background-color, $background-color-transparent)
    background: linear-gradient(to bottom, rgba(156, 204, 101, 0.7), rgba(156, 204, 101, 0))
    pointer-events: none
    position: relative
    top: -15px
  nav
    background-color: $nav-background-color
    z-index: 1
    height: $nav-height
    .nav-wrapper
      padding: 0
    .brand-logo
      top: 20% !important
      img
        width: $logo-width
    ul>li
      +vertical-center
      height: 100%
      z-index: 20
      a
        height: 100%
        div
          +vertical-center
    .dropdown-button
      i
        margin-left: 0
    .dropdown-content
      right: 7px !important
      left: auto !important
      *:hover
        text-decoration: none
    .button-collapse
      +vertical-center
      margin-left: 2%
      height: auto
      i
        height: auto !important
        line-height: inherit !important
    .button-collapse:hover
      text-decoration: none
    .right.js
      height: 100%
      .dropdown-content
        margin-right: -5px
        padding: 15px
        .row
          margin: 0 !important
          padding: 0 !important
        .col
          margin-top: 10px !important
          margin-bottom: 10px !important
          padding: 0 !important
          float: none !important
          width: 100% !important
        .col.s4
          float: left !important
          width: 33.33333% !important
        form
          background-color: $header-form-background-color
          width: 60%
          border-radius: 3px
          padding-bottom: 5px
          min-width: 200px
          li
            text-align: center
            input
              margin: 0 !important
              width: calc(95% - 15px)
            input[type = "submit"]
              background-color: $menu-button-background-color
          li:last-child
            margin-top: 10px
    .right.nojs
      list-style: none
      overflow: hidden
      +vertical-center
      a
        margin-left: 10px
        margin-right: 10px
      li
        float: left
      .col
        float: left !important
      form
        background-color: $form-background-color
        li
          float: left
          margin-right: 15px
        input
          box-shadow: 0 -2px 5px #4A9A6D inset
          border-radius: 50px
          text-shadow: 0px 0px 1px $text-shadow-color
        input[type = "submit"]
          border-radius: 30px
          background-color: $in-nav-menu-button-background-color
          padding-left: 0

main
  .header
    border: 3px outset $title-border-color
    border-left-style: none
    border-right-style: none
  .danger-button
    background-color: $danger-color
    h4
      margin: 3% 0
      a:hover
        font-decoration: underline
        font-size: 120%

footer
  width: 100%
  float: left
  margin-top: 2%
  a:hover
    font-size: 100%

#pools
  th:first-child, td:first-child
    width: 20%
  th:nth-child(2), td:nth-child(2)
    width: 20%
  th:nth-child(3), td:nth-child(3)
    width: 50%