div{
  //border: 3px outset indianred;
  display: inline-block;
  word-wrap: break-word;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
.centered{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
hr{
  width: 80%;
  margin: 10px auto;
  text-align: center;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.separator{
  position: fixed;
  height: 50px;
  width: 100%;
  left: 0;
  top: 50px;
  background: linear-gradient(to bottom, rgba(238,238,238,1), rgba(238,238,238,0));
  z-index: 100;
}
.navbar{
  border: none;
  z-index: 1000;
}
textarea{
  width: 100%;
  margin-top: 6px;
}
.list{
  margin-top: -4px;
}
.btn{
  font-size: 16px;
  margin-bottom: 1px;
}
form{
  *{
    margin: 5px auto;
  }
  .btn{
    margin-top: 4px;
  }
}
input[type="checkbox"]{
  transform: scale(1.5);
}
.comment{
  height: 112px;
  border: 4px outset aliceblue;
  margin: 5px auto;
}
@for $index from 1 through 10{
  .wide-#{$index * 10}{
    width: $index * 10%;
  }
}
@for $index from 1 through 20{
  .wide-px-#{$index * 10}{
    width: $index * 10px;
  }
}
@for $index from 1 through 20{
  .high-px-#{$index * 10}{
    height: $index * 10px;
  }
}
@for $index from 1 through 5{
  .margin-tb-#{$index * 10}{
    margin-top: $index * 10px;
    margin-bottom: $index *10px;
  }
}