<ul class = "right hide-on-med-and-down js">
  <li class = "circular-button">
    <%= link_to messages_path(current_user) do %>
      <div><%= current_user.unread_messages %></div>
    <% end %>
  </li>
  <li>
    <a class = "dropdown-button" data-activates = "menu">
      <div>
        <span class = "inline" id = "current-user"><%= current_user.name %></span>
        <i class = "material-icons right">arrow_drop_down</i>
      </div>
    </a>
  </li>
</ul>
<div class = "right hide-on-med-and-down nojs">
  <%= render "member/menu" %>
</div>
<a data-activates="mobile-menu" class="button-collapse">
  <i class="material-icons">menu</i>
</a>