<% @options.each_with_index do |option, index| %>
  <div class = "spaced">
    <%= radio_button_tag "content[#{@question}]", option %>
    <%= label "content[#{@question}]", option.gsub(" ", "_"), option %>
  </div>
<% end %>