<%= hidden_field_tag "content[#{@index}-#{@name}][answer]", [] %>
<% @options.each_with_index do |option, index| %>
  <div class = "spaced">
    <%= radio_button_tag "content[#{@index}-#{@name}][answer]", option %>
    <%= label "content[#{@index}-#{@name}][answer]", option.gsub(/\W/, "_"), option %>
  </div>
<% end %>