<ol class = "addable-field orderable">
  <li class = "option">
    <i class = "handle material-icons small"><%= CONFIG[:other_icons][:handle] %></i>
    <%= text_field_tag "content[#{@question}][0]", "", placeholder: "Link address" %>
  </li>
</ol>
<div class = "addable-area"></div>