<li>
  <fieldset class = "question" name = "<%= @name.dasherize %>">
    <legend align = "center">. <%= (@question || @name).humanize %></legend>
    <div class = "answer <%= @name.dasherize %>"><%= render "new/#{@name}" %></div>
  </fieldset>
</li>