<% enum_for @user.messages.order("created_at DESC"), word: "activity" do |message| %>
  <div class = "item message minimal" id = <%= message.id %>>
    <%= cell(:activity, message).(:format) %>
  </div>
<% end %>