<% @image = Upload.find(id) || Upload.new %>

<% case type %>
<% when :thumb, :bordered %>
  <% suffix = "_thumb" %>
<% when :full %>
  <% suffix = "" %>
<% end %>

<% if @image.enabled? %>
  <% if @image.explicit? and not current_user.view_adult? %>
    <% html = image_tag(image_path("image_adult#{suffix}".to_sym)) %>
  <% else %>
    <% html = image_tag(image_path(type, id: id)) %>
  <% end %>
<% else %>
  <% html = image_tag(image_path("image_disabled#{suffix}".to_sym)) %>
<% end %>
<% if type == :bordered %>
  <div class = 'thumbnail <%= @image.explicit?? "danger" : "success" %>'><%= html %></div>
<% else %>
  <%= html %>
<% end %>