<% unless notice.blank? %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if flash.any? %>
  <% flash.each do |type, message| %>
    <% if message.is_a? String %>
      <%= content_tag :div, id: "flash", class:"#{type} destroyable max" do %>
        <div class = "hidable-title">
          <%= format_flash message, type %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if flash[:errors] %>
  <div class="errors">
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>