<% unless notice.blank? %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if flash.any? %>
  <% flash.each do |type, message| %>
    <% if message.is_a? String %>
      <div class = "<%= type %> destroyable", id: flash>
        <div class = "title"><%= format_flash message, type %></div>
      </div>
    <% end %>
  <% end %>
<% end %>

<% if flash[:errors] %>
  <div class="errors">
    <% flash[:errors].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>