<% if flash.any? %>
  <% flash.each do |key, message| %>
    <%= content_tag :div, id: "flash", class:"#{key}" do %>
      <%= format_flash message, key: key %>
    <% end %>
  <% end %>
<% end %>

<% if show_errors? %>
  <div class="mb">
    <% instance_variable_get("@new_"+controller_name.singularize).errors.full_messages.each do |msg| %>
      <div class="error">
        <li><%= msg %></li>
      </div>
    <% end %>
  </div>
<% end %>