<% if flash.any? %>
  <div class="mb">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, id: "flash", class:"#{name}" do %>
        <span class="ml"><%= msg+flappelation(name) %></span>
      <% end %>
    <% end %>
  </div>
<% end %>

<% if show_errors? %>
  <div class="mb">
    <% instance_variable_get("@new_"+controller_name.singularize).errors.full_messages.each do |msg| %>
      <div class="error">
        <li class="fr mr"><%= msg %></li>
      </div>
    <% end %>
  </div>
<% end %>