<p id="notice"><%= notice %></p>

<% if flash.any? %>
  <% flash.each do |key, message| %>
    <%= content_tag :div, id: "flash", class:"#{key}" do %>
      <%= format_flash message, key %>
    <% end %>
  <% end %>
<% end %>

<% if params[:messages] %>
  <div class="errors">
    <% params[:messages].each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>