<div class = "row stout">
  <% if cell_header? %>
    <h2 class = "header"><%= cell(controller_name.singularize).(:header, action_name.to_sym) %></h2>
  <% else %>
    <h2 class = "header"></h2>
  <% end %>
  <%= render "layouts/flash" %>
  <%= cell(controller_name.singularize).(:instructions, action_name.to_sym) if cell_instructions? %>
</div>